<div class="container">

    <h2>Salvar contato</h2>

    <form (ngSubmit)='onSubmit()' #contatoForm="ngForm" novalidate>

        <div [ngClass]="getFormGroupClass(nome.valid, nome.pristine)">
            <label for="nome" class="form-control-label">Nome</label>
            <input type="text" class="form-control form-control-danger" placeholder="Insira o nome" name="nome" [(ngModel)]="contato.nome" #nome="ngModel" [ngClass]="getFormControlClass(nome.valid, nome.pristine)" required>
            <div class="form-control-feedback" [hidden] ="nome.valid || nome.pristine">O campo nome é obrigratório</div>
        </div>

        <div [ngClass]="getFormGroupClass(email.valid, email.pristine)">
            <label for="email">Email</label>
            <input type="email" class="form-control" placeholder="Insira o email" name="email" [(ngModel)]="contato.email" #email="ngModel" [ngClass]="getFormControlClass(email.valid, email.pristine)" required>
            <div class="form-control-feedback" [hidden] ="email.valid || email.pristine">O campo email é obrigratório</div>
        </div>

        <div [ngClass]="getFormGroupClass(telefone.valid, telefone.pristine)">
            <label for="telefone">Telefone</label>
            <input type="text" class="form-control" placeholder="Insira o telefone" name="telefone" [(ngModel)]="contato.telefone" #telefone="ngModel" [ngClass]="getFormControlClass(telefone.valid, telefone.pristine)" required>
            <div class="form-control-feedback" [hidden] ="telefone.valid || telefone.pristine">O campo telefone é obrigratório</div>
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!contatoForm.valid">Salvar</button>
        <a class="btn btn-secondary" (click)="goBack()">Voltar</a>

    </form>
</div>