<div class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="form-group">
                <label for="search"></label>
                <input type="search" class="form-control" placeholder="Digite sua busca" [ngModel]="busca" (ngModelChange)="search($event)">
            </div>

            <ul class="list-group">
                <li class="list-group-item cursor-pointer" *ngFor="let c of contatos | async" (click)="verDetalhe(c)">{{ c.nome }}</li>
            </ul>

        </div>
    </div>

</div>